# Global config
global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager (optional)
alerting:
  alertmanagers:
    - static_configs:
        - targets: []

# Rule files (optional)
rule_files: []

# Scrape configurations
scrape_configs:
  # Prometheus server itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Node Exporter
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:9100']

  # Process Exporter
  - job_name: 'process-exporter'
    static_configs:
      - targets: ['localhost:9256']
